* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    margin: 0 auto;
    margin-top: 3%;

}

.grid-item{
    border: 1px solid #ccc;
    width: 35px;
    height: 35px;
}

.pixelated{
    background: orange;
}